h1{
    font-family: sans-serif;
    padding: 10px;
    background-color: #0563c7;
    border-color: #A6A2A2;
     display: flex;
    justify-content: center

}

img{

    height: 300px;
    width: 300px;
    border: 5px solid;
    border-color: #0563c7;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

p {
    text-align: center;
}
